/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

* {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

svg,
text,
.section,
.slide {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    color: white;
    font-size: 1.6vw;
    line-height: 1;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco Display", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: #1A1A1A;
    text-rendering: geometricPrecision;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #FFCC00;
    color: black;
    text-shadow: none;
}

::selection {
    background: #FFCC00;
    color: black;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   fullPage sections
   ========================================================================== */

.grid {
    height: 100%;
    padding: 2vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2vw;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 2vw;
    overflow:hidden;
}

h1,
h2 {
    color: #fff;
    font-size: 3.2vw;
    line-height: 1;
}

.section {
    background-size: cover;
}


/*
 * SECTION 0 & 4
 */

#section0 .scrollDownArrow {
    bottom: 2vw;
    right: calc(((100% - 20vw)/2)/2);
}

#section0 .grid,
#section4 .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20vw;
}

#section0 h1,
#section0 p,
#section4 h1,
#section4 p {
    grid-row: 2
}

#section0 {
    background-image: url(../img/1.png);
}

#section4 {
    background-image: url(../img/4.jpg);
}


/*
 * SECTION 1
 */

h1 span:last-child:before {
    content: "\a \a \a \a \a";
    white-space: pre;
}

svg {
    grid-area: 2 / 1 / 2 / 4;
    overflow: visible !important;
    align-self: end;
    height: 1px;
    padding-left: 50%;
    z-index: -1;
    font-weight: bold;
    fill: #252525;
    stroke: #555;
    -webkit-text-stroke-width: 0px;
    stroke-width: 0px;
    stroke-opacity: 0;
    font-size: 60vh;
    text-anchor: middle;
}

#slide1 svg {
    font-family: 'Helvetica';
}

#slide2 svg {
    font-family: 'Arial';
}

#slide3 svg {
    font-family: -apple-system, BlinkMacSystemFont, 'San Francisco Display', "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#slide4 svg {
    font-family: 'Roboto';
}

#slide5 svg {
    font-family: 'Noto Sans';
}


/* 
 * SECTION 2
 */

#section2,
#section2 h1,
#section2 h2 {
    color: black!important;
}


.imgContainer {
    overflow: hidden;
    height: 100%;
    grid-area: 1 / 3/ 3/ 4;
}
img {
    height: 100%;
}

.center {
    grid-area: 1 / 2 / 3 / 3;
}

.left {
    grid-area: 2 / 1 / 2 / 2;
}


/* 
 * SECTION 3
 */

#slide6 svg {
    font-family: 'BodoniFLF';
}

#slide7 svg {
    font-family: 'Times New Roman', Times, serif;
}

#slide8 svg {
    font-family: 'Rockwell';
}

#slide9 svg {
    font-family: 'Adobe Garamond';
}

#slide10 svg {
    font-family: 'Noto Serif';
}

/* ==========================================================================
   Nav
   ========================================================================== */

#menubutton {
    width: 3.2vw;
    height: 3.2vw;
    position: absolute;
    top: 2vw;
    right: 2vw;
}

#menubutton span {
    position: absolute;
    width: 100%;
    height: 0.3vw;
    border-radius: 0.6vw;
    background: white;
}

#menubutton span:last-child {
    width: 100%;
    height: 0.3vw;
    background: white;
    position: absolute;
    bottom: 0;
}

.fp-slidesNav.bottom {
    padding: 0 2vw 2vw 2vw;
}

#menu li {
    display: inline-grid;
    float: left;
    background-size: cover!important;
    color: #000;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#menu li.active {
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#menu li a {
    text-decoration: none;
    color: #000;
}

#menu li.active a:hover {
    color: #000;
}

#menu li:hover {
    background: rgba(255, 255, 255, 0.8);
}

#menu li a,
#menu li.active a {
    padding: 0.5vw 1vw 0.25vw 1vw;
    display: block;
}

#menu li.active a {
    color: #fff;
}

#menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2vw;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 2vw;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(10px);
    padding: 2vw;
    position: fixed;
    z-index: 70;
    width: 100%;
    height: 100%;
    margin: 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}